/**
*  Copyright (c) 2012-2014 http://www.eryansky.com
*
*  Licensed under the Apache License, Version 2.0 (the "License");
*/
package $controllerPackage;

import org.springframework.beans.factory.annotation.Autowired;

import com.eryansky.common.orm.hibernate.EntityManager;
import com.eryansky.common.web.struts2.StrutsAction;
import ${entityPackage}.${entityName};
import ${servicePackage}.${entityName}Manager;

/**
 * action
 */
public class ${entityName}Action
    extends StrutsAction<${entityName}> {

    @Autowired
    private ${entityName}Manager ${entityInstance}Manager;

    @Override
    public EntityManager<${entityName}, Long> getEntityManager() {
        return ${entityInstance}Manager;
    }

}
